[data-theme="light"] {
  --color-bg: #fdfdf8;
  --color-fg: #1c1c1c;
  --color-3: #000;
}

[data-theme="dark"] {
  --color-bg: #1c1c1c;
  --color-fg: #fdfdf8;
  --color-3: #292929;
}

html {
    background-color: var(--color-bg);
    color: var(--color-fg);
}
html a, 
html p  {
    color: var(--color-fg) !important;
}
html header:after, 
html .shortPost:not(:last-child) a:after,
html footer .container .introduction p.name:after {
    background-color: var(--color-fg) !important;
}
html .shortPost a .category {
    color: var(--color-fg) !important;
}
