html.contrast {
    background-color: #0a0a0a;
    color: #fff;
}
html.contrast a, 
html.contrast p  {
    color: #fff !important;
}
html.contrast header:after, 
html.contrast .shortPost:not(:last-child) a:after,
html.contrast footer .container .introduction p.name:after {
    background-color: #fff !important;
}
html.contrast .shortPost a .category {
    background-color: #fff !important;
    color: #000 !important;
}