@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'LibreBaskerville';
  src: url('/fonts/LibreBaskerville-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'LibreBaskerville';
  src: url('/fonts/LibreBaskerville-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'LibreBaskerville';
  src: url('/fonts/LibreBaskerville-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'LibreBaskerville';
  src: url('/fonts/LibreBaskerville-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'CormorantGaramond';
  src: url('/fonts/CormorantGaramond-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'CormorantGaramond';
  src: url('/fonts/CormorantGaramond-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay';
  src: url('/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay';
  src: url('/fonts/PlayfairDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: 'Inter';
}
html {
    display: flex;
    min-height: 100%;
}
body {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0px;
}
h1 {
    font-size: clamp(3.125rem, 2.625rem + 2.5vw, 5.625rem);
    line-height: clamp(3.125rem, 2.8125rem + 1.5625vw, 4.6875rem);
}
main {
    display: flex;
    flex-grow: 1;
}
/* ----------------------- HEADER ----------------------- */ 
@media screen and (max-width: 768px) {
    html header {
        position: relative !important;
    }
    html:is(#home) header, 
    html:is(#lost) header {
        position: absolute !important;
    } 
    html:not(#home) header a,
    html:not(#lost) header a {
        color: #000 !important;
    }
    html:is(#home) header a, 
    html:is(#lost) header a {
        color: #fff !important;
    } 
}


/* ----------------------- VIEW TRANSITION ----------------------- */ 
/* @view-transition {
    navigation: auto;
}
html#new-home .content {
    view-transition-name: textIntro;
}
html#articles .content  {
    view-transition-name: side;
}
@keyframes move-out {
  from {right: 0%;}
  to {right: -100%;}
}
@keyframes move-in {
  from {right: -100%;}
  to {right: 0%;}
}
@keyframes fade-out {
  from {opacity: 1; transform: translateY(0%)}
  to {opacity: 0; transform: translateY(5%)}
}
@keyframes fade-in {
  from {opacity: 0; transform: translateY(5%)}
  to {opacity: 1; transform: translateY(0%)}
}
::view-transition-old(side) {
  animation: 0.3s ease-in both move-out;
}
::view-transition-new(side) {
  animation: 0.3s ease-in both move-in;
}
::view-transition-old(textIntro) {
  animation: 0.3s ease-in both fade-out;
}
::view-transition-new(textIntro) {
  animation: 0.3s ease-in both fade-in;
} */

/* ----------------------- NEW HOME ---------------------- */
html#home .carousel:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 50%);
    pointer-events: none;
}

/* -----------------------  ARTICLES ---------------------- */
html#articles .content {
    padding-top: 0px;
}
.articles article:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.articles article:last-child::after {
    display: none;
}
html#articles nav .tags li a {
    border: none;
    padding: 0px;
    font-size: 1em;
    color: #000;
}

/* -----------------------  BLOGPOST ---------------------- */
html.blogpost header a.logo {
    background-color: transparent;
    padding: 0px;
}
html.blogpost header a.logo h1 {
    font-size: 24px;
}
html.blogpost section {
    width: 45%;
    left: 55%;
    position: relative;
    padding: 120px 80px;
}
html.blogpost .fenetre {
    width: 55%;
    position: fixed;
    height: 100vh;
    left: 0;
}
html.blogpost .fenetre .carousel {
    height: 100%;
}
html.blogpost .fenetre .carousel .carousel-inner {
    height: 100%;
    aspect-ratio: auto;
}
html.blogpost .fenetre .carousel .carousel-inner:after {
    content: '';
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, transparent 25%); */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    pointer-events: none;
    /* background: linear-gradient(135deg, rgba(0, 0, 0, 0.6) -10%, transparent 25%); */
    background: linear-gradient(165deg, rgba(0, 0, 0, .6) -30%, rgba(0, 0, 0, 0) 25%);
}
/* html.blogpost .carousel-controls {
    position: absolute;
    z-index: 5;
    left: inherit;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    top: inherit;
} */
html.blogpost .carousel-controls {
    position: absolute;
    z-index: 5;
    left: inherit;
    right: 0;
    display: flex;
    justify-content: center;
    top: inherit;
    flex-direction: column;
    width: 100%;
    bottom: 0;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}
html.blogpost .carousel-controls:before {
    content: '';
    width: 100%;
    height: 200%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgb(0 0 0 / 80%) 10%, transparent);
}
@media screen and (min-width: 1024px) {
    /* html.blogpost .carousel-controls a.return {
        display: flex;
        align-items: center;
        padding: 0px 12px;
        background-color: #f3f3f3;
        font-size: 0.9em;
        text-decoration: none;
        gap: 3px;
        color: #000;
    } */
    html.blogpost .carousel-controls a.return {
        display: none;
    }
}
html.blogpost .carousel-controls div {
    display: flex;
}

html.blogpost section .introduction {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
html.blogpost section .introduction time {
    text-transform: uppercase;
    font-size: 0.8em;
}
html.blogpost section .introduction h2 {
    /* font-size: clamp(1.5rem, 1.2375rem + 1.3125vw, 2.8125rem); */
    font-size: clamp(1.625rem, 1.3875rem + 1.1875vw, 2.8125rem);
    line-height: 1.2em;
    width: 100%;
    text-wrap: pretty;
}
html.blogpost section .introduction p {
    font-family: Inter;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5em;
    width: 80%;
}
html.blogpost section p, 
html.blogpost section li {
    /* font-family: 'Geist'; */
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    text-wrap: pretty;
}
@media screen and (max-width: 1600px) {
    html.blogpost .fenetre,
    html.blogpost section {
        width: 50%;
    }   
    html.blogpost section {
        left: 50%;
    }
    html.blogpost section {
        padding: 80px 60px;
    }
}
@media screen and (max-width: 1240px) {
     html.blogpost section {
        padding: 60px 40px;
    }
    html.blogpost section .introduction h2 {
        width: 100%;
        text-wrap: pretty;
    }
    html.blogpost section .introduction p {
        text-transform: inherit;
        width: 100%;
    }
}
@media screen and (max-width: 1200px) {
    html#articles .tags {
        min-width: 160px;
        flex-direction: column;
    }
}
@media (max-width:1024px) {
    html.blogpost main {
        flex-direction: column;
    }
    html.blogpost .fenetre {
        width: 100%;
        position: relative;
        height: auto;
        border: none;
    } 
    html.blogpost .fenetre .carousel {
        height: auto;
        touch-action: none;
    }
    html.blogpost .fenetre .carousel .carousel-inner {
        height: 400px;
    }
    /* html.blogpost .carousel-controls {
        position: relative;
        justify-content: space-between;
        align-items: center;
        padding-left: 40px;
        background-color: rgb(0 0 0 / 5%);
    } */
    /* html.blogpost .carousel-controls {
        position: relative;
        justify-content: space-between;
        align-items: center;
        padding-left: 40px;
        background-color: rgb(0 0 0 / 5%);
        bottom: 0;
    } */
    html.blogpost section {
        width: 100%;
        left: 0;
        position: relative;
    }
    html.blogpost section .introduction p {
        font-weight: 500;
    }
    html#articles .tags {
        min-width: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }
    html.blogpost .carousel-controls a {
        color: #000;
    }
    html.blogpost .carousel-controls {
        padding-bottom: 0px;
    }
}
@media (max-width: 768px) {
    html.blogpost .fenetre .carousel .carousel-inner {
        height: 350px;
    } 
    html.blogpost .fenetre .carousel .carousel-inner:after {
        display: none;
    }
    html.blogpost header a.logo h1 {
        font-size: 20px;
    }
}
@media (max-width: 600px) {
    html.blogpost section .introduction {
        margin-bottom: 32px;
    }
    html.blogpost section {
        padding: 32px 5vW;
    }
    html.blogpost section .introduction p {
        font-size: 17px;
        line-height: 1.6em;
    }
    html.blogpost .carousel-controls {
        padding-left: 16px;
    }
    html.blogpost .carousel-controls a.return {
        font-size: 0.9em;
    }
}
@media (max-width: 450px) {
    html.blogpost .fenetre .carousel .carousel-inner {
        height: 300px;
    } 
}