@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

html {
  display: flex;
  background-color: #fffdf8;
  background-image: url('/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
  min-height: 100%;
}
html:not(#home) p.about {
    display: none;
}
html:not(#home) .logo a {
    width: 160px;
    height: 43px;
}
html:before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(25deg, transparent, var(--color-bg) 30%);
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    pointer-events: none;
}

body {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  line-height: 1.5;
  min-height: 100%;
}
body>.col-left {
    width: 35vW;
    position: sticky;
}
body>.col-right {
    width: 65vw;
    padding-bottom: 56px;
    display: flex;
    flex-direction: column;
}
body>.col-left:after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: var(--color-fg);
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.13;
    pointer-events: none;
}













body>.col-left .container {
    position: sticky;
    top: 0px;
}

body > .content {
    width: 70vW;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
body>.content main {
    display: flex;
    flex-grow: 1;
}
body > .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 56px;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

* {
  box-sizing: border-box;
  font-family: 'Inter';
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

video.videoPost {
  max-width: 500px !important;
  margin-bottom: 24px;
}

@media screen and (max-width: 1200px) {
  body>.col-right {
      padding-bottom: 40px;
  }
}

@media screen and (max-width: 900px) {
  body {
    flex-direction: column;
  }
  body>.col-left {
    width: 100%;
    position: relative;
  }
  body>.col-right {
    width: 100%;
    padding-bottom: 56px;
  }
  body>.col-left:after {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  video.videoPost {
      max-width: 100% !important;
  }
  body>.col-right {
    padding-bottom: 32px;
  }
}