@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Stack Sans Notch';
  src: url('/fonts/StackSansNotch-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Stack Sans Notch';
  src: url('/fonts/StackSansNotch-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Mukta Malar';
  src: url('/fonts/MuktaMalar-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Mukta Malar';
  src: url('/fonts/MuktaMalar-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Mukta Malar';
  src: url('/fonts/MuktaMalar-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url('/fonts/RobotoSlab-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
* {
  box-sizing: border-box;
  font-family: 'Inter';
}
p.visibility-hidden {
  visibility: hidden;
}
h1, h2, h3, p {
  margin: 0px;
}
h1 {
  font-family: "Stack Sans Notch";
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.2;
}
html {
  display: flex;
  background-color: #fff;
  height: auto;
  min-height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 42rem;
  position: relative;
  margin: 0 auto;
}
body:after,
body:before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0.15;
  pointer-events: none;
  background-color: var(--color-fg);
  z-index: 1;
}
body:after {
  right: 0;
}
body:before {
  left: 0;
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.postContent p,
.postContent li {
  padding: 0px 24px;
  font-family: "Roboto Slab";
  font-weight: 400;
  line-height: 1.7;
}
.postContent p:has(img) {
  margin: 0px !important;
  padding: 0px;
}
.postContent p em {
  padding: 0px 24px;
  font-size: 0.95em;
  opacity: 0.85;
}
.postContent img {
  height: auto;
  max-width: 100% !important;
}
@media screen and (max-width: 1200px) {}
@media screen and (min-width: 900px){
  body>.col-left .contraste,
  body>.col-left .returnHome {
    display: none !important;
  }
}
@media screen and (max-width: 900px) {}
@media screen and (max-width: 768px) {
  html p, 
  html a {
    font-size: 15px;
  }
  .postContent p,
  .postContent p em {
    padding: 0px 16px;
  }
}
@media screen and (max-width: 672px) {
  body:after,
  body:before {
    display:none;
  }
  .postContent p em {
    width: 100%;
    display: flex;
    line-height: 1.5;
  }
}