@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
* {
  box-sizing: border-box;
  font-family: 'Inter';
}
html {
    display: flex;
    min-height: 100%;
}
body {
    margin: 0 auto;
    padding: 40px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
h1, h2, h3, p, ul {
  margin: 0px;
}
main {
    display: flex;
    flex-grow: 1;
}

/* HEADER */ 
html#new-home header p,
html#articles header p { 
    display: none;
}
html#new-home header,
html#articles header {
    padding: 0;
    align-items: center;
    padding-bottom: 24px;
}
html#new-home a.logo,
html#articles a.logo {
    background-color: transparent;
    color: #000 !important;
    padding: 0px !important;
}

/* FOOTER */ 
html#new-home footer,
html#articles footer {
    padding: 0px;
    justify-content: center;
    padding-top: 24px;
}

/* CAROUSEL */ 
html#new-home .carousel {
    position: relative;
    margin-top: 0px !important;
    height: 100%;
}
html#new-home .carousel-inner {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    aspect-ratio: 0;
    height: 100%;
}
html#new-home .carousel .slide a {
    display: flex;
    height: 100%;
}
html#new-home .carousel .slide a:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 40%);
    pointer-events: none;
    transition: all 0.3s;
    opacity: 0;
}
html#new-home .carousel .slide p {
    position: absolute;
    bottom: 60px;
    left: 60px;
    font-weight: 500;
    font-size: 24px;
    color: #fff !important;
    z-index: 1;
    width: 50%;
    transition: all 0.3s;
    opacity: 0;
}
html#new-home .carousel-controls {
    bottom: 0;
    justify-content: flex-end;
    top: inherit;
}
html#new-home .carousel-controls button {
    width: 50px;
    height: 50px;
}
html#new-home .carousel .slide:hover p,
html#new-home .carousel .slide:hover a:after {
    opacity: 1;
}


html#articles article {
    padding: 24px 0px;
}
html#articles article section {
    border: 1px solid red;
    height: 100%;
    display: flex;
    padding: 20px;
}
html#articles article img {
    width: 220px;
    min-width: 220px;
}
html#articles article section .datas div {
    padding-top: 32px;
}
html#articles article section .datas h2 {
    font-family: 'Inter';
    font-size: 24px;
}