@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'LibreBaskerville';
  src: url('/fonts/LibreBaskerville-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'LibreBaskerville';
  src: url('/fonts/LibreBaskerville-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'LibreBaskerville';
  src: url('/fonts/LibreBaskerville-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'LibreBaskerville';
  src: url('/fonts/LibreBaskerville-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'CormorantGaramond';
  src: url('/fonts/CormorantGaramond-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'CormorantGaramond';
  src: url('/fonts/CormorantGaramond-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay';
  src: url('/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay';
  src: url('/fonts/PlayfairDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: 'Inter';
}
html {
    display: flex;
    min-height: 100%;
}
body {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0px;
}
main {
    display: flex;
    flex-grow: 1;
}


/* ----------------------- VIEW TRANSITION ----------------------- */ 
/* @view-transition {
    navigation: auto;
}
html#new-home .content {
    view-transition-name: textIntro;
}
html#articles .content  {
    view-transition-name: side;
}
@keyframes move-out {
  from {right: 0%;}
  to {right: -100%;}
}
@keyframes move-in {
  from {right: -100%;}
  to {right: 0%;}
}
@keyframes fade-out {
  from {opacity: 1; transform: translateY(0%)}
  to {opacity: 0; transform: translateY(5%)}
}
@keyframes fade-in {
  from {opacity: 0; transform: translateY(5%)}
  to {opacity: 1; transform: translateY(0%)}
}
::view-transition-old(side) {
  animation: 0.3s ease-in both move-out;
}
::view-transition-new(side) {
  animation: 0.3s ease-in both move-in;
}
::view-transition-old(textIntro) {
  animation: 0.3s ease-in both fade-out;
}
::view-transition-new(textIntro) {
  animation: 0.3s ease-in both fade-in;
} */


/* ----------------------- HEADER ----------------------- */ 
html#articles header {
    position: absolute;
}
@media screen and (max-width: 768px) {
    html:not(#new-home) header {
        position: relative
    }
    html:not(#new-home) header a {
        color: #000 !important;
    }
}

/* ----------------------- NEW HOME ---------------------- */
/* html#new-home .carousel {
    margin-top: 0 !important;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
html#new-home .carousel-inner {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    aspect-ratio: 0;
    height: 100%;
}
html#new-home .carousel .slide a {
    display: flex;
    height: 100%;
    position: relative;
}
html#new-home .carousel .slide a:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 40%);
    pointer-events: none;
    transition: all 0.3s;
    opacity: 0;
}
html#new-home .carousel .slide p {
    position: absolute;
    bottom: 60px;
    left: 60px;
    font-weight: 500;
    font-size: 24px;
    color: #fff !important;
    z-index: 1;
    width: 80%;
    transition: all 0.3s;
    opacity: 0;
}
html#new-home .carousel-controls {
    top: inherit;
    bottom: 0;
    right: 0;
    left: inherit;
    justify-content: flex-end;
    display: none;
}
html#new-home .carousel-controls button {
    width: 50px;
    height: 50px;
}
html#new-home .carousel .slide:hover p,
html#new-home .carousel .slide:hover a:after {
    opacity: 1;
}
html#new-home .carousel:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 50%);
    pointer-events: none;
} */


/* -----------------------  ARTICLES ---------------------- */
@media screen and (max-width: 768px) {
    .articles article:not(:last-child) {
        border-bottom: 1px solid rgb(0 0 0 / 12%);
    }
}


/* -----------------------  BLOGPOST ---------------------- */
html.blogpost header a.logo {
    background-color: transparent;
    padding: 0px;
}
html.blogpost header a.logo h1 {
    font-size: 24px;
}
html.blogpost section {
    width: 45%;
    left: 55%;
    position: relative;
    padding: 120px 80px;
}
html.blogpost .fenetre {
    width: 55%;
    position: fixed;
    height: 100vh;
    left: 0;
}
html.blogpost .fenetre .carousel {
    height: 100%;
}
html.blogpost .fenetre .carousel .carousel-inner {
    height: 100%;
    aspect-ratio: auto;
}
html.blogpost .fenetre .carousel .carousel-inner:after {
    content: '';
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, transparent 25%); */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    pointer-events: none;
    /* background: linear-gradient(135deg, rgba(0, 0, 0, 0.6) -10%, transparent 25%); */
    background: linear-gradient(165deg, rgba(0, 0, 0, .6) -30%, rgba(0, 0, 0, 0) 25%);
}
html.blogpost .carousel-controls {
    position: absolute;
    z-index: 5;
    left: inherit;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    top: inherit;
}
html.blogpost section .introduction {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid #0000001c;
    padding-bottom: 40px;
}
html.blogpost section .introduction time {
    /* color: #979797 !important; */
    text-transform: uppercase;
    font-size: 0.8em;
}
html.blogpost section .introduction h2 {
    font-size: clamp(1.5rem, 1.2375rem + 1.3125vw, 2.8125rem);
    line-height: 1.2em;
    width: 80%;
}
html.blogpost section .introduction p {
    font-family: Inter;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5em;
    width: 80%;
}
html.blogpost section p, 
html.blogpost section li {
    font-family: 'Geist';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    text-wrap: pretty;
}
html.blogpost section ul {
    margin-top: 8px;
}
html.blogpost section ul li:not(last-child) {
    margin-bottom: 8px;
}
@media screen and (max-width: 1600px) {
    html.blogpost .fenetre,
    html.blogpost section {
        width: 50%;
    }   
    html.blogpost section {
        left: 50%;
    }
    html.blogpost section {
        padding: 80px 60px;
    }
}
@media screen and (max-width: 1240px) {
     html.blogpost section {
        padding: 60px 40px;
    }
    html.blogpost section .introduction h2 {
        width: 100%;
        text-wrap: pretty;
    }
    html.blogpost section .introduction p {
        text-transform: inherit;
        width: 100%;
    }
    html.blogpost section .introduction {
        margin-bottom: 40px;
        padding-bottom: 24px;
    }
}
@media (max-width:1024px) {
    html.blogpost main {
        flex-direction: column;
    }
    html.blogpost .fenetre {
        width: 100%;
        position: relative;
        height: auto;
        border: none;
    } 
    html.blogpost .fenetre .carousel {
        height: auto;
    }
    html.blogpost .fenetre .carousel .carousel-inner {
        height: 500px;
    }
    html.blogpost .carousel-controls {
        position: relative;
        justify-content: space-between;
        border-bottom: 1px solid;
    }
    html.blogpost section {
        width: 100%;
        left: 0;
        position: relative;
    }
    html.blogpost .fenetre .carousel .carousel-inner:after {
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    html.blogpost a.mobile.return {
        display: none;
    }
}
@media (max-width: 768px) {
    html.blogpost .fenetre .carousel {
        height: 350px;
    } 
    html.blogpost header a.logo h1 {
        font-size: 20px;
    }
}
@media (max-width: 600px) {
    html.blogpost section {
        padding: 24px 16px;
    }
    html.blogpost section .introduction {
        margin-bottom: 24px;
        padding-bottom: 24px;
    }
}
@media (max-width: 450px) {
    html.blogpost .fenetre .carousel {
        height: 250px;
    } 
}