@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
* {
  box-sizing: border-box;
  font-family: 'Inter';
}
html {
    display: flex;
    min-height: 100%;
}
body {
    margin: 0 auto;
    padding: 40px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
h1, h2, h3, p, ul {
  margin: 0px;
}
main {
    display: flex;
    flex-grow: 1;
}

.intro {
    width: 25%;
    padding-top: 100px;
    position: relative;
    z-index: 1;
}
.intro h1 {
    font-size: 90px;
    width: 160%;
    line-height: 90px;
}
html#new-home .intro p {
    padding-top: 24px;
    line-height: 1.7em;
    padding-right: 24px;
}

.fenetre {
    width: 50%;
    display: flex;
    overflow: hidden;
    justify-content: center;
}
html#new-home .fenetre img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
html#new-home .desc p {
    line-height: 2em;
    padding-top: 100px;
}

/* CAROUSEL */
html#new-home .carousel-controls {
    bottom: 0;
    justify-content: center;
    top: inherit;
}
html#new-home .carousel-controls button {
    width: 50px;
    height: 50px;
}
html#new-home .carousel {
    margin: 0px;
}
html#new-home .carousel .slide p {
    position: absolute;
}
html#new-home .carousel .slide a {
    border: 1px solid red;
    display: flex;
}


/* HEADER */ 
html#new-home header p,
html#articles header p { 
    display: none;
}
html#new-home header,
html#articles header {
    padding: 0;
    align-items: center;
    padding-bottom: 24px;
}
html#new-home a.logo,
html#articles a.logo {
    background-color: transparent;
    color: #000 !important;
    padding: 0px !important;
}

/* SHORTBLOGPOST */ 
html#new-home article section p {
    display: none;
}
html#new-home .desc img {
    width: 80px;
    height: 80px;
}
html#new-home .desc h2 {
    font-size: 18px;
}
html#new-home article {
    padding: 24px 0px;
}

/* FOOTER */ 
html#new-home footer,
html#articles footer {
    padding: 0px;
    justify-content: center;
    padding-top: 24px;
}