@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
* {
  box-sizing: border-box;
  font-family: 'Inter';
}
html {
    display: flex;
    min-height: 100%;
}
body {
    margin: 0 auto;
    padding: 40px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
h1, h2, h3, p, ul {
  margin: 0px;
}
main {
    display: flex;
    flex-grow: 1;
}

/* HEADER */ 
html#new-home header p,
html#articles header p { 
    display: none;
}
html#new-home header,
html#articles header {
    padding: 0;
    align-items: center;
    padding-bottom: 24px;
}
html#new-home a.logo,
html#articles a.logo {
    background-color: transparent;
    color: #000 !important;
    padding: 0px !important;
}

/* FOOTER */ 
html#new-home footer,
html#articles footer {
    padding: 0px;
    justify-content: center;
    padding-top: 24px;
}

/* CAROUSEL */ 
html#new-home .carousel-controls {
    bottom: 0;
    justify-content: center;
    top: inherit;
}
html#new-home .carousel-controls button {
    width: 50px;
    height: 50px;
}
html#new-home .carousel .slide p {
    position: absolute;
}
html#new-home .carousel .slide a {
    border: 1px solid red;
    display: flex;
}

html#new-home .carousel {
    position: relative;
    margin-top: 0px !important;
    border: 1px solid red;
    height: 100%;
}
html#new-home .carousel-inner {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    aspect-ratio: 0;
    height: 100%;
    border: 1px solid green;
}