@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
* {
  box-sizing: border-box;
  font-family: 'Inter';
}
html {
    display: flex;
    min-height: 100%;
}
body {
    margin: 0 auto;
    padding: 40px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
h1, h2, h3, p, ul {
  margin: 0px;
}
main {
    display: flex;
    flex-grow: 1;
}

.intro {
    width: 20%;
    padding-top: 100px;
    position: relative;
}
.intro h1 {
    font-size: 100px;
    width: 160%;
    line-height: 100px;
}

.fenetre {
    width: 55%;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.desc {
    width: 25%;
    padding-left: 40px;
    display: flex;
    align-items: center;
}
html#new-home .desc p {
    line-height: 2em;
    padding-top: 100px;
}

/* HEADER */ 
html#new-home header p,
html#articles header p {
    display: none;
}
html#new-home header,
html#articles header {
    padding: 0px;
    align-items: center;
}
html#new-home a.logo,
html#articles a.logo {
    background-color: transparent;
    color: #000 !important;
    padding: 0px !important;
}

/* FOOTER */ 
html#new-home footer,
html#articles footer {
    padding: 0px;
    justify-content: center;
}


/* ARTICLES */
html#articles body {
    padding: 0px;
}
html#articles main .fenetre {
    width: 60%;
    position: relative;
    height: 100vH !important;
    align-items: flex-start;
}
html#articles main .fenetre .intro {
    border: 1px solid green;
    top: 0;
    padding: 0px;
    z-index: 1;
    width: 100%;
}
html#articles main .fenetre img {
    border: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
html#articles main .desc {
    width: 40%;
    padding: 40px;
}