---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';

const page = "404";
---

<BaseLayout page={page}>
    <Header />
    <main>
        <h1>404</h1>
        <p>Retour à la <a href="/">page d'accueil</a></p>
    </main>
</BaseLayout>

<style>
    main {
        padding: 40px 24px 0px;
    }
    @media screen and (max-width: 768px) {
        main {
            padding: 24px 16px;
        }   
    }
</style>