---
import '../styles/global.css';
import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Footer from '../components/Footer.astro';

const page = "about";
---

<BaseLayout page={page}>
    <div class="container">
        <Header />
        <div class="containerAbout">
            <p class="about">"Salut. J'aime tout ce qui touche à l'art et spécialement le "digital art". J'adore voyager, randonner, escalader avec les copaings (principalement pour la bière fraiche à la fin de la session). J'aime les jeux de rôles... Ah, oui, et j'adore écrire."</p>
        </div>
        <Footer />
    </div>
</BaseLayout>

<style>
    .containerAbout {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    p.about {
        line-height: 1.5em;
        margin: 0;
        font-size: 1em;
        font-weight: 200;
        padding: 24px 24px 0;
        font-style: italic;
    }
    @media screen and (max-width: 768px) { 
        p.about {
            padding: 24px 16px 0px;
        }
    }
</style>