---
import image1 from "../assets/mongolia-2.jpg"
import image2 from "../assets/mongolia-3.jpg"
import image3 from "../assets/mongolia-4.jpg"
import image4 from "../assets/mongolia-5.jpg"
import image5 from "../assets/mongolia-6.jpg"

import '../styles/newglobal.css';
import NewBaseLayout from '../layouts/NewBaseLayout.astro';
import Header from '@components/Header.astro';
import Carousel from '@components/Carousel.astro';
import Footer from '@components/Footer.astro';

const page = "new-home";
---

<NewBaseLayout page={page}>
    <Header />
    <main>
        <div class="intro">
            <h1>Vivre des expériences</h1>
            <a href="/articles">Découvrir des aventures</a>
        </div>
        <div class="fenetre">
            <Carousel images={[image1, image2, image3, image4, image5]} />
        </div>
        <div class="desc">
            <p>À quelques jours du grand départ pour mon voyage d’une année en Asie, quelqu’un m’a conseillé de “Vivre des expériences”. Cette phrase m’est restée en tête jusqu’à aujourd’hui. Je trouve que c’est le meilleur conseil que l’on puisse donner à un être humain.</p>
        </div>
    </main>
    <Footer />
</NewBaseLayout>

<style>
.desc {
    width: 25%;
}
.desc p {
    line-height: 2em;
    padding-top: 100px;
}
.fenetre img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.intro h1 {
    font-size: 90px;
    width: 160%;
    line-height: 90px;
}
.intro {
    width: 25%;
    padding-top: 100px;
    position: relative;
    z-index: 1;
}
.fenetre {
    width: 50%;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.carousel-controls {
    bottom: 0;
    justify-content: center;
    top: inherit;
}
.carousel-controls button {
    width: 50px;
    height: 50px;
}
.carousel {
    margin: 0px;
}
.carousel .slide p {
    position: absolute;
}
.carousel .slide a {
    border: 1px solid red;
    display: flex;
}
</style>