---
import '../styles/newglobal.css';
import NewBaseLayout from '../layouts/NewBaseLayout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import { getCollection } from "astro:content";
import { Image } from 'astro:assets';

import image3 from "../assets/mongolia-7.jpg"

const allBlogPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const blogPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).slice(0,3);

const page = "new-home";
---

<NewBaseLayout page={page}>
    <main>
        <div class="fenetre">
            <Header />
            <div class="textIntro">
                <h1>Vivre des expériences</h1>
                <p>À quelques jours du grand départ pour mon voyage d’une année en Asie, quelqu’un m’a conseillé de “Vivre des expériences”. Cette phrase m’est restée en tête jusqu’à aujourd’hui. Je trouve que c’est le meilleur conseil que l’on puisse donner à un être humain.</p>
                <a href="/articles">Partir à l'aventure</a>
            </div>
            <Image src={image3} alt="Mongolie" width="1856px" height="857px" />
        </div>
    </main>
    <!-- <Footer /> -->
</NewBaseLayout>

<style>
.textIntro {
    z-index: 1;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: 46%;
}
.fenetre .textIntro  h1 {
    color: #fff;
    font-size: clamp(2.5rem, 2.125rem + 1.875vw, 4.375rem);
    /* line-height: 75px; */
    line-height: clamp(3.125rem, 2.8125rem + 1.5625vw, 4.6875rem);
}
.textIntro p {
    color: #FFF !important;
    line-height: 1.7;
}
.fenetre {
    width: 100vW;
    height: 100vH;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fenetre img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.fenetre:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), transparent 70%);
    pointer-events: none;
}
.desc {
    width: 70%;
    display: flex;
    align-items: flex-start;
    padding: 80px 120px;
    flex-direction: column;
    gap: 16px;
    left: 30%;
    position: relative;
}
.desc p {
    line-height: 2em;
    display: none;
}
.menu {
    display: flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 8px;
    padding-left: 8px;
    border-bottom: 1px solid #0000002e;
}
.menu ul {
    list-style: none;
    display: flex;
    padding: 0px;
    gap: 16px;
}
.menu ul li {
    font-weight: 700;
    opacity: 0.3;
}
.menu ul li:first-child {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .textIntro {
        padding: 24px;
        width: 100%;
    }
}
</style>