---
import '../styles/newglobal.css';
import NewBaseLayout from '../layouts/NewBaseLayout.astro';
import Header from '@components/Header.astro';
import Navigation from '@components/Navigation.astro';
import Footer from '@components/Footer.astro';

const page = "new-home";
---

<NewBaseLayout page={page}>
    <Header />
    <main>
        <div class="intro">
            <h1>Vivre des expériences</h1>
            <a href="/">Découvrir des aventures</a>
        </div>
        <div class="fenetre"></div>
        <div class="desc">
            <p>À quelques jours du grand départ pour mon voyage d’une année en Asie, quelqu’un m’a conseillé de “Vivre des expériences”. Cette phrase m’est restée en tête jusqu’à aujourd’hui. Je trouve que c’est le meilleur conseil que l’on puisse donner à un être humain. Salut, je suis OneHuman. C’est à mon tour de vous inviter à vivre des aventures. N’hésitez pas, explorez mon blog, plongez vous dans le voyage.</p>
        </div>
    </main>
    <Footer />
</NewBaseLayout>