---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Footer from '../components/Footer.astro';
import Livres from '../components/Livres.astro';

const page = "inspiration";
---

<BaseLayout page={page}>
    <Header />
    <Navigation />
    <main>
        <section>
            <h2>Le coin des copains</h2>
            <ul>
                <li><a href="https://audioblog.arteradio.com/blog/261344/lectus-podcast" target="_blank"><img src="/lectus.png"/>LectUs Podcast</a></li>
            </ul>
        </section>
        <section>
            <h2>Bibliothèque</h2>
            <h3>2026</h3>
            <Livres date={2026} />
            <h3>2025</h3>
            <Livres date={2025} />
            <h3>2024</h3>
            <Livres date={2024} />
        </section>
    </main>
    <Footer />
</BaseLayout>

<style>
    main {
        padding: 40px 24px 0px;
    }
    h3 {
        display: flex;
        margin-bottom: 24px !important;
        position: relative;
        padding-bottom: 8px;
        font-weight: 500;
    }
    h3:after {
        content: "";
        width: calc(100% + 48px);
        height: 1px;
        background-color: var(--color-fg);
        position: absolute;
        bottom: 0;
        left: -24px;
        opacity: .15;
    }
    ul {
        padding: 0px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }
    ul li a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        font-size: 0.9em;
    }
    ul li a img {
        width: 190px;
        margin-bottom: 6px;
    }
    @media screen and (max-width: 768px) {
        main {
            padding: 24px 16px;
        }   
    }
</style>