---
import '../styles/global.css';
import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Footer from '../components/Footer.astro';

const page = "inspiration";
---

<BaseLayout page={page}>
    <div class="container">
        <Header />
        <div class="containerCopains">
            <h2>Le coin des copains</h2>
            <ul class="copains">
                <li><a href="https://audioblog.arteradio.com/blog/261344/lectus-podcast" target="_blank">Lectus Podcast</a></li>
            </ul>
            <br/>
            <h2>Bibliothèque</h2>
            <div class="containerLivres">
                <span class="annee">2025</span>
                <ul class="livres">
                    <li><div class="couverture"><img src="/livres/the-great-game.jpg" /></div>The Great Game <span class="auteur">Peter Hopkirk</span></li>
                    <li><div class="couverture"><img src="/livres/aylal.jpg" /></div>Aylal, une année en Mongolie <span class="auteur">Linda Gardelle</span></li>
                    <li><div class="couverture"><img src="/livres/ten-years.jpg" /></div>Ten Years A Nomad <span class="auteur">Matthew Kepnes</span></li>
                    <li><div class="couverture"><img src="/livres/1984.jpg" /></div>1984 <span class="auteur">George Orwell</span></li>
                    <li><div class="couverture"><img src="/livres/conquerant.jpg" /></div>Conquérant de l'impossible <span class="auteur">Mike Horn</span></li>
                    <li><div class="couverture"><img src="/livres/atomic.jpg" /></div>Atomic Habits <span class="auteur">James Clear</span></li>
                    <li><div class="couverture"><img src="/livres/ikigai.jpg" /></div>Ikigai <span class="auteur">Héctor Garcia et Francesc Miralles</span></li>
                    <li><div class="couverture"><img src="/livres/homme-rune-t1.jpg" /></div>Le Cycle Des Démons : L'Homme Rune <span class="auteur">Peter V. Brett</span></li>
                    <li><div class="couverture"><img src="/livres/homme-rune-t2.jpg" /></div>Le Cycle Des Démons : La Lance Du Désert <span class="auteur">Peter V. Brett</span></li>
                    <li><div class="couverture"><img src="/livres/careless.jpg" /></div>Careless People <span class="auteur">Sarah Wynn-Williams</span></li>
                    <li><div class="couverture"><img src="/livres/caucase.jpg" /></div>Au détour du Caucase <span class="auteur">Clara Arnaud</span></li>
                    <li><div class="couverture"><img src="/livres/faucheuse.jpg" /></div>La Faucheuse <span class="auteur">Neal Shusterman</span></li>
                </ul>
            </div>
        </div>
        <Footer />
    </div>
</BaseLayout>

<style>
    .containerCopains {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 40px 24px 0px;
    }
    .containerCopains h2 {
        margin: 0px;
    }
    .containerLivres {
        padding-top: 16px;
    }
    span.annee {
        display: flex;
        margin-bottom: 16px !important;
    }
    ul.livres {
        display: flex;
        list-style: none;
        padding: 0px;
        gap: 24px;
        margin: 0px;
        flex-wrap: wrap;
    }
    ul.livres li {
        display: flex;
        width: calc(33.33% - 16px);
        flex-direction: column;
        font-weight: 600;
        font-size: 0.9em;
    }
    ul.livres li img {
        margin-bottom: 8px;
        width: 100%;
    }
    .auteur {
        font-weight: 400;
        font-style: italic;
    }

</style>