---
import '../styles/global.css';
import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Footer from '../components/Footer.astro';

const page = "inspiration";
---

<BaseLayout page={page}>
    <div class="container">
        <Header />
        <div class="containerCopains">
            <h2>Le coin des copains</h2>
            <ul class="copains">
                <li><a href="https://audioblog.arteradio.com/blog/261344/lectus-podcast" target="_blank">Lectus Podcast</a></li>
            </ul>
            <br/>
            <h2>Bibliothèque</h2>
            <div class="containerLivres">
                <span class="annee">2025</span>
                <ul class="livres">
                    <li><img src="/livres/the-great-game.jpg" />The Great Game - <span class="auteur">Peter Hopkirk</span></li>
                </ul>
            </div>
        </div>
        <Footer />
    </div>
</BaseLayout>

<style>
    .containerCopains {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 40px 24px 0px;
    }
    .containerCopains h2 {
        margin: 0px;
    }
</style>