---
import { Image } from 'astro:assets';
const { images } = Astro.props; 

const newImage = images.map((image) => image.toLowerCase().split("../assets/").pop().split(".jpg")[0]);
const allImages = await Astro.glob("/src/assets/*").then(files => {
  return files.map(file => file.default);
});
const myImages = newImage.map((image) => allImages.find(({ src }) => src.includes(image)));


---

<div class="carousel">
    <div class="carousel-inner">
        {myImages.map((image) => (
            <div class="slide">
                <Image src={image.src} alt="image" layout="constrained" loading="lazy" width="672px" height="672px" />
            </div>
        ))}
    </div>
    <div class="carousel-controls">
        <button id="prev">Précédent</button>
        <button id="next">Suivant</button>
    </div>
    <!-- <div class="carousel-dots"></div> -->
</div>

<script>
// Ceci est une fonction auto - exécutable.Les fonctions auto - exécutables
// sont des fonctions qui s'exécutent immédiatement après leur déclaration,
// sans avoir besoin d'être appelées.Les accolades immédiatement après la 
// déclaration de la fonction et les parenthèses à la fin de la déclaration 
// définissent la fonction et permettent de l'exécuter immédiatement.

// modifs
(function () {
    // Un commentaire ici
    "use stict"
    const slideTimeout = 5000;
    const prev = document.querySelector('#prev');
    const next = document.querySelector('#next');
    const $slides = document.querySelectorAll('.slide');
    let intervalId;
    let currentSlide = 1;
    
    // Fonction pour afficher un slide spécifique en utilisant un index
    function slideTo(index) {
        // Vérifie si l'index est valide (compris entre 0 et le nombre de slides - 1)
        currentSlide = index >= $slides.length || index < 1 ? 0 : index;
        // Boucle sur tous les éléments de type "slide" pour les déplacer
        $slides.forEach($elt => $elt.style.transform = `translateX(-${currentSlide * 100}%)`);
        // Boucle sur tous les "dots" pour mettre à jour la couleur par la classe "active" ou "inactive"
        $dots.forEach(($elt, key) => $elt.classList = `dot ${key === currentSlide? 'active': 'inactive'}`);
    }
    // Fonction pour afficher le prochain slide
    function showSlide() {
        slideTo(currentSlide);
        currentSlide++;
    }

    // Ajout d'un écouteur d'événement "click" sur le bouton "prev" pour afficher le slide précédent
    prev.addEventListener('click', () => slideTo(--currentSlide))

    // Ajout d'un écouteur d'événement "click" sur le bouton "next" pour afficher le slide suivant
    next.addEventListener('click', () => slideTo(++currentSlide))

    // Initialisation de l'intervalle pour afficher les slides
    intervalId = setInterval(showSlide, slideTimeout)

    // Boucle sur tous les éléments de type "slide" pour ajouter des écouteurs d'événement pour les interactions avec la souris et le toucher
    $slides.forEach($elt => {
        let startX;
        let endX;
        // Efface l'intervalle d'affichage des slides lorsque la souris passe sur un slide
        $elt.addEventListener('mouseover', () => {
            clearInterval(intervalId);
        }, false)
        // Réinitialise l'intervalle d'affichage des slides lorsque la souris sort d'un slide
        $elt.addEventListener('mouseout', () => {
            intervalId = setInterval(showSlide, slideTimeout);
        }, false);
        // Enregistre la position initiale du toucher lorsque l'utilisateur touche un slide
        $elt.addEventListener('touchstart', (event) => {
            startX = event.touches[0].clientX;
        });
        // Enregistre la position finale du toucher lorsque l'utilisateur relâche son doigt
        $elt.addEventListener('touchend', (event) => {
            endX = event.changedTouches[0].clientX;
            // Si la position initiale est plus grande que la position finale, affiche le prochain slide
            if (startX > endX) {
                slideTo(currentSlide + 1);
                // Si la position initiale est plus petite que la position finale, affiche le slide précédent
            } else if (startX < endX) {
                slideTo(currentSlide - 1);
            }
        });
    })
})()
</script>

<style>
.carousel {
    position: relative;
}
.carousel-inner {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    aspect-ratio: 1;
}
.slide {
    flex: 0 0 100%;
    height: 100%;
    transition: .5s ease-in-out;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-controls {
    position: absolute;
    z-index: 5;
    left: 10%;
    right: 10%;
    top: 50%;
    display: flex;
    justify-content: space-between;
}
.carousel-controls button {
    padding: 10px;
    background-color: aquamarine;
}
</style>