---
import { Image } from 'astro:assets';

const { images } = Astro.props; 
---

<div class="carousel">
    <div class="carousel-inner">
        {images.map((image) => (
            <div class="slide">
                <Image src={image} alt="image" layout="constrained" loading="lazy" width="1048px" height="911px" />
            </div>
        ))}
    </div>
    <div class="carousel-controls">
        <!-- <a href="/articles" class="return"><span class="arrow">←</span> Retour</a> -->
        <div class="dots">
            <div class="dotsInner">
                {images.map((image: any) => (
                    <span class={`dot dot-${(images.indexOf(image) + 1)}`}></span>
                ))}
            </div>
        </div>
        <div class="buttons">
            <button id="prev"><img src="/icon-arrow.svg"/></button>
            <button id="next"><img src="/icon-arrow.svg"/></button>
        </div>
    </div>
</div>

<script>

(function () {
    "use stict"
    const prev = document.querySelector('#prev');
    const next = document.querySelector('#next');
    const $slides = document.querySelectorAll('.slide');
    const allDots = document.querySelector('.dots');
    const $dots = allDots.querySelectorAll('.dot');
    let currentSlide = 0;
    $slides[currentSlide].classList.add("active");

    function slideTo(index) {
        currentSlide = index >= $slides.length ? ($slides.length - 1) : currentSlide = index < 0 ? 0 : index;
        // currentSlide = index >= $slides.length ? 0 : currentSlide = index < 0 ? ($slides.length - 1) : index;
        $slides.forEach($elt => $elt.style.transform = `translateX(-${currentSlide * 100}%)`);
        $dots.forEach($elt => $elt.style.transform = `translateX(-${currentSlide * 100}%)`);
    }

    prev.addEventListener('click', () => slideTo(--currentSlide))
    next.addEventListener('click', () => slideTo(++currentSlide))

    $slides.forEach($elt => {
        let startX;
        let endX;
        $elt.addEventListener('touchstart', (event) => {
            startX = event.touches[0].clientX;
        });
        $elt.addEventListener('touchend', (event) => {
            endX = event.changedTouches[0].clientX;
            if (startX > endX) {
                slideTo(currentSlide + 1);
            } else if (startX < endX) {
                slideTo(currentSlide - 1);
            }
        });
    })

})()
</script>

<style>
.carousel {
    position: relative;
    height: 100%;
}
.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    overflow: hidden;
    aspect-ratio: auto;
}
.carousel-inner:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    pointer-events: none;
    background: linear-gradient(165deg, rgba(0, 0, 0, .6) -30%, rgba(0, 0, 0, 0) 25%);
}
.slide {
    flex: 0 0 100%;
    height: 100%;
    transition: .5s ease-in-out;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------- CONTROLS ------- */
.carousel-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-bottom: 10px;
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: 0;
}
.carousel-controls:before {
    content: '';
    width: 100%;
    height: 200%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgb(0 0 0 / 80%) 10%, transparent);
}

/* ------- BUTTONS ------- */
.buttons {
    display: flex;
}
.carousel-controls button {
    padding: 13px;
    background-color: #000000;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-controls button img {
    width: 22px;
    height: 20px;
    filter: invert(1);
}
.carousel-controls button#next img {
    transform: rotate(180deg);
}

/* ------- DOTS ------- */ 
.dots {
    display: flex;
    width: 44px;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;
    position: relative;
    mask-image: linear-gradient(to right, transparent 0%, black 50%, transparent 100%);
}
.dotsInner {
    width: 12px;
    display: flex;
}
.dot {
    width: 12px;
    height: 6px;
    display: flex;
    flex: 0 0 100%;
    max-width: 12px;
    position: relative;
    transition: all 0.3s;
}
.dot:after {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

@media (max-width:1024px) {
    .carousel {
        height: auto;
        touch-action: none;
    }
    .carousel-inner {
        height: 400px;
    }
    .carousel-controls {
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 768px) {
    .carousel-inner {
        height: 350px;
    } 
    .carousel-inner:after {
        display: none;
    }
    .buttons {
        display: none;
    }
    .dots {
        padding: 14px 0px;
    }
}

@media (max-width: 450px) {
    .carousel-inner {
        height: 300px;
    } 
}
</style>