---
import { Image } from 'astro:assets';
const { images } = Astro.props; 

const newImage = images.map((image) => image.toLowerCase().split("../assets/").pop().split(".jpg")[0]);
const allImages = await Astro.glob("/src/assets/*").then(files => {
  return files.map(file => file.default);
});
const myImages = newImage.map((image) => allImages.find(({ src }) => src.includes(image)));
---

<div class="carousel">
    <div class="carousel-inner">
        {myImages.map((image) => (
            <div class="slide">
                <Image src={image.src} alt="image" layout="constrained" loading="lazy" width="672px" height="672px" />
            </div>
        ))}
    </div>
    <div class="carousel-controls">
        <button id="prev">Précédent</button>
        <button id="next">Suivant</button>
    </div>
    <!-- <div class="carousel-dots"></div> -->
</div>

<script>
(function () {
    "use stict"
    const slideTimeout = 5000;
    const prev = document.querySelector('#prev');
    const next = document.querySelector('#next');
    const $slides = document.querySelectorAll('.slide');
    
    //let $dots;
    let intervalId;
    let currentSlide = 1;
    function slideTo(index) {
        currentSlide = index >= $slides.length || index < 1 ? 0 : index;
        $slides.forEach($elt => $elt.style.transform = `translateX(-${currentSlide * 100}%)`);
        $dots.forEach(($elt, key) => $elt.classList = `dot ${key === currentSlide? 'active': 'inactive'}`);
    }

    function showSlide() {
        slideTo(currentSlide);
        currentSlide++;
    }
    for (let i = 1; i <= $slides.length; i++) {
        let dotClass = i == currentSlide ? 'active' : 'inactive';
        let $dot = `<span data-slidId="${i}" class="dot ${dotClass}"></span>`;
        document.querySelector('.carousel-dots').innerHTML += $dot;
    }

    //$dots = document.querySelectorAll('.dot');
    //$dots.forEach(($elt, key) => $elt.addEventListener('click', () => slideTo(key)));

    prev.addEventListener('click', () => slideTo(--currentSlide))
    next.addEventListener('click', () => slideTo(++currentSlide))
    intervalId = setInterval(showSlide, slideTimeout)

    $slides.forEach($elt => {
        let startX;
        let endX;
        $elt.addEventListener('mouseover', () => {
            clearInterval(intervalId);
        }, false)
        $elt.addEventListener('mouseout', () => {
            intervalId = setInterval(showSlide, slideTimeout);
        }, false);
        $elt.addEventListener('touchstart', (event) => {
            startX = event.touches[0].clientX;
        });
        $elt.addEventListener('touchend', (event) => {
            endX = event.changedTouches[0].clientX;
            if (startX > endX) {
                slideTo(currentSlide + 1);
            } else if (startX < endX) {
                slideTo(currentSlide - 1);
            }
        });
    })
})()
</script>

<style>
.carousel {
    position: relative;
}
.carousel-inner {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    aspect-ratio: 1;
}
.slide {
    flex: 0 0 100%;
    height: 100%;
    transition: .5s ease-in-out;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-controls {
    position: absolute;
    z-index: 5;
    left: 10%;
    right: 10%;
    top: 50%;
    display: flex;
    justify-content: space-between;
}
.carousel-controls button {
    padding: 10px;
    background-color: aquamarine;
}
/*
.carousel-dots {
    position: absolute;
    z-index: 5;
    left: 50%;
    right: 50%;
    bottom: 10%;
    display: flex;
    justify-content: center;
}
.carousel-dots .dot {
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}
.carousel-dots .active {
    border: 10px solid #761530 !important;
}
.carousel-dots .inactive {
    border: 10px solid #2596be;
}
*/
</style>