---
const { filters } = Astro.props;
---

<ul class="filters">
    {filters.map((filter) => (
        <li><a href={`/${filter.name}`}>{filter.name}<span>({filter.number})</span></a></li>
    ))}
</ul>

<style>
ul.filters {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 12px;
    padding: 0px;
    flex-wrap: wrap;
}
ul.filters a {
    text-decoration: none;
    font-weight: 500;
    color: #000;
}
ul.filters a:hover {
    text-decoration: underline;
}
ul.filters a span {
    font-weight: 400;
}
@media screen and (max-width: 600px) {
    ul.filters {
        column-gap: 12px;
        row-gap: 6px;
    }
}
</style>
