---
const { filters } = Astro.props;
---

<ul class="filters">
    {filters.map((filter) => (
        <li><a href={`/${filter.name}`}>{filter.name}<span>({filter.number})</span></a></li>
    ))}
</ul>

<style>
ul.filters {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 8px;
}
ul.filters a {
    text-decoration: none;
    font-weight: 500;
}
ul.filters a:hover {
    text-decoration: underline;
}
</style>
