---
---

<footer>
  <p>© 2026 <span>One Human</span> Le mieux est l'ennemi du bien</p>
</footer>

<style>
  footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 32px 24px;
    width: 100%;
  }
  footer p {
    font-size: 0.85em;
  }
  footer span {
    font-weight: 600;
    margin: 0px 4px;
    position: relative;
    padding-right: 10px;
  }
  footer span:after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: var(--color-fg);
    top: 0;
    right: 0;
    opacity: 0.25;
  }
  @media screen and (max-width: 768px) {
    footer {
      padding: 24px 16px;
    }
  }
  @media screen and (max-width: 400px) {
    footer p {
      display: flex;
      flex-wrap: wrap;
      line-height: 1.3em;
    }
    footer span {
      margin: 0 6px;
      padding-right: 0px;
    }
    footer span:after {
      display: none;
    }
  }
</style>