---
---

<footer>
  <div class="container">
    <div class="introduction">
      <p class="mention">© 2025 <span class="name">One Human</span></p>
      <p class="sentence">Le mieux est l'ennemi du bien</p>
    </div>
  </div>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    padding: 40px 24px 0px;
    width: 100%;
  }
  footer .container {
    display: flex;
    width: 100%;
  }
  footer .container .introduction {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  footer .container .introduction p {
    margin: 0px;
  }
  footer .container .introduction p.mention {
    display: flex;
    padding-right: 20px;
    position: relative;
    font-size: 0.85em;
  }
  footer .container .introduction p.mention:after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: var(--color-fg);
    top: 0;
    right: 10px;
    opacity: 0.25;
  }
  footer .container .introduction span.name {
    font-weight: 600;
    margin-left: 4px;
  }
  footer .container .introduction p.sentence {
    display: flex;
    font-style: italic;
    font-size: 0.87em;
    line-height: 0.87em;
    align-items: center;
  }
  footer .container .social {
    display: flex;
  }
  @media screen and (max-width: 1200px) {}

  @media screen and (max-width: 900px) {}

  @media screen and (max-width: 768px) {
      footer {
        padding: 24px 16px 0px;
      }
  }

  @media screen and (max-width: 500px) {
    footer .container .introduction {
      flex-direction: column;
      gap: 4px;
    }
    footer .container .introduction p.mention:after {
      display: none;
    }
  }
</style>