---
---

<footer>
  <p>© 2025 <span>One Human</span> Le mieux est l'ennemi du bien</p>
</footer>

<style>
  footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 32px 24px;
    width: 100%;
  }
  footer p {
    font-size: 0.85em;
  }
  footer span {
    font-weight: 600;
    margin-left: 4px;
  }
  footer span:after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: var(--color-fg);
    top: 0;
    right: 10px;
    opacity: 0.25;
  }
  @media screen and (max-width: 768px) {
      footer {
          padding: 24px 16px;
      }
  }
  @media screen and (max-width: 500px) {
      footer span:after {
        display: none;
      }
  }
</style>