---

---

<header>
    <a href="/">OneHuman</a>
</header>

<style>
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    z-index: 2;
}
header a {
    text-decoration: none;
    color: var(--color-bg) !important;
    font-weight: 700;
    font-size: 1.4em;
}
@media screen and (max-width: 768px) {
    header {
        padding: 18px;
        text-align: center;
    }
}
@media screen and (max-width: 600px) {
    header a {
        font-size: 1.1em;
    }
}
</style>