---
import ButtonContrast from "./ButtonContrast.astro"
import ButtonReturnHome from "./ButtonReturnHome.astro"
---

<header>
    <div class="container">
        <div class="intro">
            <div class="logo">
                <a href="/">
                    <!-- <img src="/logo-blog-ok.png"/> -->
                    <!-- One Human's Adventures -->
                </a>
            </div>
            <!-- <div class="navigation">
                <ButtonReturnHome />
                <ButtonContrast />
            </div>-->
        </div>
        <p class="about">Salut, je suis un humain plutôt ordinaire. J'aime tout ce qui touche à l'art et spécialement le "digital art". J'adore voyager && randonner && l'escalade avec les amis (principalement pour la bière fraiche à la fin de la session). Ah, oui, et j'adore écrire.</p>
    </div>
</header>

<style>
    header,
    header .container,
    header .container .navigation {
        display: flex;
        width: 100%;
    }
    header {
        padding: 56px;
    }
    header .container {
        flex-direction: column;
    }
    header .container .intro {
        display: flex;
        flex-direction: row;
    }
    header .container .navigation {
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .logo {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        position: relative;
        max-width: 180px;
    }
    .logo a {
        display: flex;
        width: 210px;
        height: 57px;
        mask-image: url('/logo-blog-last.png');
        mask-position: top left;
        mask-size: cover;
        background-color: var(--color-fg);
    }
    p.about {
        line-height: 2em;
        padding-top: 40px;
        padding-bottom: 64px;
        margin: 0px;
        font-size: 1.04em;
        font-weight: 200;
    }
    @media screen and (max-width: 1200px) {
        header {
            padding: 40px;
        } 
    }
    @media screen and (max-width: 768px) {
        header {
            padding: 24px 0;
            width: 100%;
            flex-direction: column;
        }
        .logo a {
            width: 150px;
            height: 42px;
        }
        p.about {
            padding: 0px 0px 34px 0px;
        }
    }
</style>