---
import Navigation from "./Navigation.astro"
---

<header>
    <a href="/" class="logo">
        <h1>One Human</h1>
    </a>
    <p class="desc">Vivre des expériences.</p>
    <Navigation />
</header>

<style>
    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
    }
    /*header .intro {
        display: flex;
        flex-direction: row;
        padding: 0px 24px;  
    }*/
    /*.logo {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }*/
    .logo {
        display: flex;
        text-decoration: none;
        position: relative;
        z-index: 1;
        color: var(--color-bg) !important;
        padding: 2px 8px 0px;
        background-color: var(--color-fg);
    }
    p.desc {
        margin-bottom: 0px;
        margin-top: 6px;
    }
    @media screen and (max-width: 900px) { }
    @media screen and (max-width: 768px) { 
        /*header .intro {
            padding: 0px 16px;  
        }*/
    }
</style>