---
import ButtonContrast from "./ButtonContrast.astro"
---

<header>
    <div class="container">
        <div class="navigation">
            <div class="logo">
                <a href="/">
                    <!-- <img src="/logo-blog-ok.png"/> -->
                    <!-- One Human's Adventures -->
                </a>
            </div>
            <ButtonContrast />
        </div>
        <p class="about">Hi, I'm a random human being. I like all kind of art and especially digital art. I really love hiking && bouldering with friends, mostly for the fresh beer after the session. I just discovered that I love writing.</p>
    </div>
</header>

<style>
    header,
    header .container,
    header .container .navigation {
        display: flex;
        width: 100%;
    }
    header .container .navigation {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }
    .logo {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        position: relative;
        max-width: 180px;
    }
    .logo a {
        display: flex;
        width: 190px;
        height: 51px;
        mask-image: url('/logo-blog-last.png');
        mask-position: top left;
        mask-size: cover;
        background-color: var(--color-fg);
    }
    p.about {
        line-height: 2em;
        padding-top: 40px;
        padding-bottom: 64px;
        margin: 0px;
        font-size: 1.04em;
        font-weight: 200;
    }
    @media screen and (max-width: 768px) {
        header {
            padding: 24px 0;
            width: 100%;
            flex-direction: column;
        }
        .logo a {
            width: 150px;
            height: 42px;
        }
        p.about {
            padding: 0px 0px 34px 0px;
        }
    }
</style>