---
import Navigation from "./Navigation.astro"
---

<header>
    <div class="intro">
        <div class="logo">
            <a href="/">6R05L0L0</a>
            <p class="desc">Un être humain ordinaire. Niveau 30.</p>
        </div>
    </div>
    <!--<p class="about">"Salut, je suis un humain plutôt ordinaire. J'aime tout ce qui touche à l'art et spécialement le "digital art". J'adore voyager && randonner && l'escalade avec les amis (principalement pour la bière fraiche à la fin de la session). Ah, oui, et j'adore écrire."</p>-->
    <p class="about">"Salut. J'aime tout ce qui touche à l'art et spécialement le "digital art". J'adore voyager, randonner, escalader avec les copaings (principalement pour la bière fraiche à la fin de la session). J'aime les jeux de rôles... Ah, oui, et j'adore écrire."</p>
    <Navigation />
</header>

<style>
    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
    }
    header:after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: .15;
        background-color: var(--color-fg);
    }
    header .intro {
        display: flex;
        flex-direction: row;
        padding: 0px 24px;  
    }
    .logo {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .logo a {
        display: flex;
        font-family: "Stack Sans Notch";
        font-size: 1.3em;
        font-weight: 600;
        text-decoration: none;
        line-height: 1.2;
        position: relative;
        z-index: 1;
        color: var(--color-bg) !important;
        padding: 0px 8px;
    }
    .logo a:after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: var(--color-fg);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    .logo p.desc {
        margin-bottom: 0px;
        margin-top: 6px;
    }
    p.about {
        line-height: 1.5em;
        margin: 0;
        font-size: 1em;
        font-weight: 200;
        padding: 24px 24px 0;
        font-style: italic;
    }
    @media screen and (max-width: 900px) { }
    @media screen and (max-width: 768px) { }
</style>