---
import ButtonContrast from "./ButtonContrast.astro"
---

<header>
    <div class="container">
        <div class="logo">
            <a href="/">
                <!-- <img src="/logo-blog-ok.png"/> -->
                <!-- One Human's Adventures -->
            </a>
        </div>
        <ButtonContrast />
    </div>
</header>

<style>
    header {
        display: flex;
        padding-top: 56px;
        width: 100%;
    }
    header .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }
    .logo {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        position: relative;
        max-width: 180px;
    }
    .logo a {
        display: flex;
        width: 190px;
        height: 51px;
        mask-image: url('/logo-blog-last.png');
        mask-position: top left;
        mask-size: cover;
        background-color: var(--color-fg);
    }
    @media screen and (max-width: 768px) {
        header {
            padding: 24px 0;
            width: 100%;
            flex-direction: column;
        }
        .logo a {
            width: 150px;
            height: 42px;
        }
    }
</style>