---
import Navigation from "./Navigation.astro"
---

<header>
    <div class="container">
        <div class="Logo">
            <a href="/">One Human's Adventures</a>
        </div>
        <Navigation />
    </div>
</header>

<style>
    header {
        display: flex;
        position: sticky;
        padding: 48px 0px;
        width: 30%;
        flex-direction: column;
        justify-content: flex-end;
    }
    header .container {
        position: sticky;
        width: 100%;
        bottom: 48px;
    }
    .Logo {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin-bottom: 8px;
        max-width: 250px;
    }
    .Logo a {
        font-size: 1.6em;
        line-height: 1.2em;
        font-weight: 500;
        text-decoration: none;
        color: #000;
    }
    @media screen and (max-width: 768px) {
        header {
            padding: 40px 0;
            width: 100%;
            flex-direction: column;
        }
    }
</style>