---
import Navigation from "./Navigation.astro"
---

<header>
    <div class="intro">
        <div class="logo">
            <!-- <a href="/">6R05L0L0</a> -->
            <!-- <a href="/">6r05l0l0</a> -->
            <!-- <a href="/">OneHuman</a> -->
            <a href="/">Un_Être_Humain</a>
            <!-- <p class="desc">Un être humain ordinaire de niveau 30.</p> -->
            <p class="desc">Vivre des expériences.</p>
        </div>
    </div>
    <Navigation />
</header>

<style>
    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
    }
    header .intro {
        display: flex;
        flex-direction: row;
        padding: 0px 24px;  
    }
    .logo {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .logo a {
        display: flex;
        font-family: "Stack Sans Notch";
        font-size: 1.3em;
        font-weight: 600;
        text-decoration: none;
        line-height: 1.2;
        position: relative;
        z-index: 1;
        color: var(--color-bg) !important;
        padding: 2px 8px 0px;
        background-color: var(--color-fg);
    }
    .logo p.desc {
        margin-bottom: 0px;
        margin-top: 6px;
    }
    @media screen and (max-width: 900px) { }
    @media screen and (max-width: 768px) { 
        header .intro {
            padding: 0px 16px;  
        }
    }
</style>