---
---

<header>
    <div class="container">
        <div class="Logo">
            <a href="/">One Human's Adventures</a>
        </div>
    </div>
</header>

<style>
    header {
        display: flex;
        position: sticky;
        padding: 48px 0px;
        width: 30%;
        flex-direction: column;
        justify-content: flex-end;
    }
    header .container {
        position: sticky;
        width: 100%;
        bottom: 48px;
    }
    header nav {
        display: flex;
    }
    .Logo {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin-bottom: 8px;
    }
    /*.Logo:after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--color-fg);
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0.15;
        pointer-events: none;
    }*/
    .Logo a {
        font-size: 2.3em;
        line-height: 1.2em;
        font-weight: 600;
        text-decoration: none;
        color: #000;
        padding-bottom: 16px;
    }

    @media screen and (max-width: 768px) {
        header {
            padding: 40px 0;
            width: 100%;
            flex-direction: column;
        }
    }
</style>