---
---

<header>
    <a href="/" class="logo">
        <h1>One Human</h1>
    </a>
    <p>Vivre des expériences.</p>
</header>

<style>
    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        width: 100%;
        padding: 32px 24px;
        gap: 8px;
    }
    .logo {
        display: flex;
        text-decoration: none;
        position: relative;
        z-index: 1;
        color: var(--color-bg) !important;
        padding: 2px 8px 0px;
        background-color: var(--color-fg);
    }
    @media screen and (max-width: 768px) {
        header {
            padding: 24px 16px;
        }
    }
</style>