---
import ButtonContrast from "./ButtonContrast.astro"
import ButtonReturnHome from "./ButtonReturnHome.astro"
---
<div class="navigation">
    <div class="colLeft">
        <ButtonReturnHome />
        <ul class="nav">
            <li><a href="/inspiration">Inspiration</a></li>
            <!-- <li><a href="/gribouillages">Gribouillages</a></li> -->
            <!-- <li><a href="/RSS">RSS</a></li> -->
        </ul>
    </div>
    <div class="colRight">
        <ButtonContrast />
    </div>
</div>

<style>
    .navigation {
        display: flex;
        justify-content: space-between;
        height: 40px;
        margin-top: 40px;
        position: relative;
        background-color: var(--color-3);
    }
    .navigation:before,
    .navigation:after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #fff;
        position: absolute;
        left: 0;
        opacity: .2;
    }
    .navigation:before {
        top: 0;
    }
    .navigation:after {
        bottom: 0;
    }
    .colLeft {
        display: flex;
        width: 100%;
    }
    ul.nav {
        margin: 0px;
        padding-left: 24px;
        list-style: none;
        display: flex;
        gap: 16px;
    }
    ul.nav li {
        display: flex;
    }
    ul.nav li a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff !important;
        font-weight: 400;
        font-size: 14px !important;
    }
    @media screen and (max-width: 1200px) {}
    @media screen and (max-width: 900px) {}
    @media screen and (max-width: 768px) {
        .navigation {
            margin-top: 24px;
        }
        .navigation ul.tags {
            display: none;
        }
        ul.nav li a {
            padding: 0px 16px;
        }
    }
    @media screen and (max-width: 400px) {}
</style>