---
import ButtonContrast from "./ButtonContrast.astro"
import ButtonReturnHome from "./ButtonReturnHome.astro"
---
<div class="navigation">
    <ButtonReturnHome />
    <ButtonContrast />
</div>

<style>
    .navigation {
        display: flex;
        justify-content: space-between;
        height: 56px;
        padding: 0px 56px;
        margin-top: 56px;
    }
    html#home .navigation {
        justify-content: flex-end;
    }
    @media screen and (max-width: 1200px) {
        .navigation {
            height: 40px;
            padding: 0px 40px;
            margin-top: 40px;
        }
    }
    @media screen and (max-width: 900px) {
        .navigation {
            justify-content: flex-end;
            margin-top: 0px;
        }
    }
    @media screen and (max-width: 768px) {
        .navigation {
            height: 32px;
            padding: 0 24px;
        }
    }
</style>