---
import ButtonContrast from "./ButtonContrast.astro"
import ButtonReturnHome from "./ButtonReturnHome.astro"
---

<style>
  .nav-links {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    position: relative;
  }
  .container-nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
</style>

<div class="nav-links">
  <ButtonReturnHome />
  <div class="container-nav">
    <ButtonContrast />
  </div>
</div>