---
import ButtonContrast from "./ButtonContrast.astro"
import ButtonReturnHome from "./ButtonReturnHome.astro"
---
<div class="navigation">
    <ButtonReturnHome />
    <ButtonContrast />
</div>

<style>
    .navigation {
        display: flex;
        justify-content: space-between;
        height: 56px;
        padding: 0px 32px;
    }
    html:#home .navigation {
        justify-content: flex-end;
    }
    @media screen and (max-width: 1200px) {
        .navigation {
            height: 40px;
            padding: 0px 24px;
        }
    }
</style>