---
import ButtonContrast from "./ButtonContrast.astro"
import ButtonReturnHome from "./ButtonReturnHome.astro"
const posts = Object.values(import.meta.glob('../pages/posts/*.md', { eager: true }));
const tags = [...new Set(posts.map((post: any) => post.frontmatter.tags).flat())];
---
<div class="navigation">
    <ButtonReturnHome />
    <ul class="tags">{tags.map((tag)=> <li class="tag"><a href={`/tags/${tag}`}>{tag}</a></li>)}</ul>
    <ButtonContrast />
</div>

<style>
    .navigation {
        display: flex;
        justify-content: space-between;
        height: 40px;
        margin-top: 40px;
        position: relative;
    }
    .navigation:after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .15;
        background-color: var(--color-fg);
    }
    html#home .navigation {
        justify-content: flex-end;
    }
    @media screen and (max-width: 1200px) {}
    @media screen and (max-width: 900px) {}
    @media screen and (max-width: 768px) {}
</style>