---
import { Image } from 'astro:assets';

const { posts } = Astro.props; 
---
<div class="carousel">
    <div class="carousel-inner">
        {posts.map((post: any) => (
            <div class="slide">
                <div class="postInfo">
                    <span class="current">0{(posts.indexOf(post) + 1)}</span>
                    <span class="line"></span>
                    <p>{post.data.title}</p>
                    <a href={`/posts/${post.id}`}>Lire l'article →</a>
                </div>
                <Image src={post.data.homepage} alt="image" layout="constrained" loading="lazy" width="1920px" height="1080px" />
            </div>
        ))}
    </div>
    <div class="carousel-controls">
        <span class="total"><span>/</span> 0{posts.length}</span>
        <button id="prev"><img src="/icon-arrow.svg"/></button>
        <button id="next"><img src="/icon-arrow.svg"/></button>
    </div>
</div>

<script>
(function () {
    "use stict"
    const slideTimeout = 5000;
    const prev = document.querySelector('#prev');
    const next = document.querySelector('#next');
    const $slides = document.querySelectorAll('.slide');
    let intervalId;
    let currentSlide = 0;
    $slides[currentSlide].classList.add("active");

    function slideTo(index) {
        currentSlide = index >= $slides.length ? 0 : currentSlide = index < 0 ? ($slides.length - 1) : index;
        $slides.forEach($elt => $elt.classList.remove("active"));
        $slides[currentSlide].classList.add("active");
    }

    prev.addEventListener('click', () => {
        clearInterval(intervalId);
        intervalId = null;
        slideTo(--currentSlide);
        intervalId = setInterval(showSlide, slideTimeout);
    })

    next.addEventListener('click', () => {
        clearInterval(intervalId);
        intervalId = null;
        slideTo(++currentSlide);
        intervalId = setInterval(showSlide, slideTimeout);
    })

    function showSlide() {
        slideTo(++currentSlide);
    }

    intervalId = setInterval(showSlide, slideTimeout);
})()
</script>

<style>
.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.carousel-inner {
    display: flex;
}
.slide {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s ease-in-out;
    opacity: 0;
    pointer-events: none;
}
.slide.active img {
    opacity: 1;
    pointer-events: auto;
}
.carousel-controls {
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    right: 0;
    height: 180px;
    width: 33%;
    background-color: #000;
    background-image: url(/map.svg);
    background-repeat: no-repeat;
    background-size: 260%;
    background-position: 50% 43%;
}
.carousel-controls:after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgb(0 0 0) 10%, rgb(0 0 0 / 72%) 70%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.carousel-controls button {
    padding: 13px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transform: translateY(-100%);
}
.carousel-controls button img {
    width: 22px;
    height: 20px;
    filter: invert(1);
}
.carousel-controls button#next img {
    transform: rotate(180deg);
}
.carousel-controls .total {
    color: #fff;
    position: absolute;
    left: 122px;
    top: 0;
    transform: translateY(-140%);
    font-weight: 700;
}
.carousel-controls .total span {
    display: none;
}

@keyframes animTitle {
    0% {transform: translateY(-10px); opacity: 0;}
    100% {transform: translateY(0px); opacity: 1;}
}
@keyframes animTitleBefore {
    0% {transform: translateY(0px); opacity: 1;}
    100% {transform: translateY(10px); opacity: 0;}
}
@keyframes animCurrent {
    0% {transform: translateY(-160%); opacity: 0;}
    100% {transform: translateY(-140%); opacity: 1;}
}
@keyframes animCurrentBefore {
    0% {transform: translateY(-140%); opacity: 1;}
    100% {transform: translateY(-120%); opacity: 0;}
}
@keyframes animLine {
    0%{width: 0%}
    100%{width: 100%}
}

.postInfo {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: 0 40px 40px;
    row-gap: 16px;
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 180px;
    z-index: 6;
    justify-content: flex-end;
}
.slide.active .postInfo {
    z-index: 7;
}
.postInfo a {
    color: #c5c5c5 !important;
    text-decoration: none;
    pointer-events: none;
}
.postInfo a:hover {
    text-decoration: underline !important;
}
.slide.active .postInfo a {
    pointer-events: auto;
}
.postInfo p {
    color: #fff !important;
    font-size: 1.7em;
    font-weight: 400;
    line-height: 1.4em;
    transition: .5s ease-in-out;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    text-wrap: pretty;
    animation: animTitleBefore 0.5s linear;
}
.slide.active .postInfo p {
    pointer-events: auto;
    animation: animTitle 0.5s linear;
    animation-fill-mode: forwards;
}
.postInfo .current {
    color: #fff;
    position: absolute;
    left: 20px;
    top: 0;
    transform: translateY(-160%);
    opacity: 0;
    pointer-events: none;
    animation: animCurrentbefore 0.4s linear;
}
.slide.active .postInfo .current {
    pointer-events: auto;
    animation: animCurrent 0.4s linear;
    animation-fill-mode: forwards;
}
.line {
    position: absolute;
    top: 0;
    left: 45px;
    width: 70px;
    height: 3px;
    background-color: #3d3d3d;
    transform: translateY(-19px);
    opacity:0;
}
.slide.active .line {
    opacity: 1;
}
.line:after {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
}
.slide.active .line:after {
    animation: animLine 5s linear;
}



@media screen and (max-width: 1500px) {
    .postInfo,
    .carousel-controls {
        width: 40%;
    }
}
@media screen and (max-width: 1240px) {
    .postInfo,
    .carousel-controls {
        width: 50%;
    }
}
@media screen and (max-width: 1024px) {
    .postInfo p {
        font-size: 1.6em;
    }
    .postInfo,
    .carousel-controls {
        width: 55%;
        height: 180px;
    }
}
@media screen and (max-width: 768px) {
    .slide:nth-child(1) .postInfo .current {
        left: 20px;
    }
    .slide:nth-child(2) .postInfo .current {
        left: 30px;
    }
    .slide:nth-child(3) .postInfo .current {
        left: 40px;
    }
    .postInfo .current {
        left: 20px;
        top: 0;
        transform: translateY(0%);
        opacity: 1;
    }
    .postInfo {
        width: 100%;
        height: 40px;
    }
    .postInfo p,
    .postInfo a, 
    .carousel-controls,
    .carousel-controls:after {
        display: none;
    }
}
</style>