---
const {url, title, desc, date} = Astro.props;
---

<li class="shortPost">
    <a href={url}>
        <p class="date">{date}</p>
        <div class="containerInfo">
            <p class="title">{title}</p>
            <p class="description">{desc}</p>
        </div>
    </a>
</li>

<style>
    .shortPost {
        display: flex;
        position: relative;
    }
    .shortPost:not(:last-child)::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--color-fg);
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0.15;
    }
    .shortPost a {
        display: flex;
        width: 100%;
        padding: 32px 56px;
        position: relative;
        color: #000;
        text-decoration: none;
    }
    .shortPost a::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-fg);
        transition: all 0.3s;
        opacity: 0;
        pointer-events: none;
    }
    .shortPost a:hover::before {
        opacity: 0.05;
    }
    .shortPost a .title {
        font-family: Space Grotesk;
        font-weight: 500;
        font-size: 2em;
        padding-bottom: 6px;
        line-height: 1em;
    }
    .shortPost a p {
        margin: 0px;
    }
    .shortPost p.date {
        font-size: .85em;
        padding-right: 18px;
        padding-top: 1px;
        opacity: 0.8;
    }
    .shortPost a .description {
        opacity: 0.8;
    }
    @media screen and (max-width: 1200px) {
        .shortPost a {
            padding: 32px 40px;
        }
    }
    @media screen and (max-width: 768px) {
        .shortPost a .title {
            margin-top: 8px;
        }
        .shortPost a {
            padding: 32px 24px;
        }      
    }
</style>