---
const { tags } = Astro.props;
---

<ul class="tags">
    {tags.map((tag) => (
        <li><a href={`/${tag}`}>#{tag}</a></li>
    ))}
</ul>

<style>
.tags {
    padding: 0px;
    display: flex;
    list-style: none;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
    min-width: 220px;
}
html.blogpost ul.tags {
    flex-direction: row;
    width: auto;
}
.tags li a {
    font-size: .85em;
    line-height: 1.4em;
    display: flex;
    align-items: center;
    color: #2d2d2d !important;
    font-weight: 500;
    text-decoration: none;
    padding: 4px 6px;
    border: 1px solid #c3c3c3;
}
@media screen and (max-width: 1200px) {
    .tags {
        min-width: 160px;
    }
}
@media screen and (max-width: 1024px) {
    ul.tags {
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
    }
}
</style>