---
import ButtonReturnHome from "./ButtonReturnHome.astro";
const { frontmatter } = Astro.props;
---

<div class="postIntro">
    <div class="containerTitle">
        <ButtonReturnHome />
        <p class="postTitle">{frontmatter.title}</p>
    </div>
    <p class="postDescription">{frontmatter.description}</p>
    <p class="postDate">Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
</div>