---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---

<style>
  .postIntro {
    padding-bottom: 24px;
  }
  p.postTitle {
    font-size: 1.6em;
    font-weight: 600;
    margin: 0px;
  }
  p.postDescription {
    margin-top: 24px;
    font-weight: 200 !important;
    margin-bottom: 0px;
  }
  p.postDate {
    font-size: 0.85em;
    margin-top: 4px;
  }
</style>

<BaseLayout pageTitle={frontmatter.title}>
    <div class="postIntro">
        <p class="postTitle">{frontmatter.title}</p>
        <p class="postDescription">{frontmatter.description}</p>
        <p class="postDate">Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
    </div>
    <div class="postContent">
        <slot />
    </div>
</BaseLayout>