---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
const tags = frontmatter.tags; 
---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="postIntro">
      <div class="containerTitle">
        <a href="/" class="returnHome"></a>
        <p class="postTitle">{frontmatter.title}</p>
      </div>
      <p class="postDescription">{frontmatter.description}</p>
      <p class="postDate">Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
    </div>
    <slot />
</BaseLayout>

<style>
  a {
    color: #00539F;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }

  .postIntro {
    padding-bottom: 24px;
  }
  .postTitle {
    font-size: 1.6em;
    font-weight: 600;
  }

  .containerTitle {
      display: flex;
      align-items: center;
  }
  a.returnHome {
      width: 40px;
      height: 32px;
      margin-right: 16px;
      text-decoration: none;
      position: relative;
  }
  a.returnHome:before {
      content: "<";
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.1em;
      line-height: 1em;
      opacity: 0.5;
  }
  a.returnHome:after {
      content: '';
      width: 1px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0%;
      background-color: var(--color-fg);
      opacity: 0.2;
  }

</style>