---
import '../styles/newglobal.css';
import '../styles/contrast.css';
const { page, category } = Astro.props;
---

<html lang="fr" data-theme="light" id={page} class={category}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>One Human</title>
  </head>
  <body>
      <slot />
      <script>
        import "../scripts/colorMode.js";
      </script>
  </body>
</html>