---
import BaseLayout from './BaseLayout.astro';
import articles from "../assets/mongolia-2.jpg";
import envoyage from "../assets/travel-4.jpg";
import envadrouille from "../assets/travel-1.jpg";
import enrando from "../assets/sancy-9.jpg";
import { Image } from 'astro:assets';
import Header from '@components/Header.astro';
import Title from '@components/Title.astro';

const { page, title } = Astro.props;

const cover = title === "articles" ? articles : title === "EnVoyage" ? envoyage : title === "1AnEnVadrouille" ? envadrouille : title === "EnRando" ? enrando
---

<BaseLayout page={page}>
    <main>
        <Header />
        <div class="hero">
            <Title title={title}/>
            <Image src={cover} alt="Roy's Peak" width="1856px" height="857px"/>
        </div>
        <div class="content">
            <slot />
        </div>
    </main>
</BaseLayout>

<style>
main {
    position: relative;
    width: 100%;
    height: 100vH;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
/*.image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
}
.image:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(125deg, rgba(0, 0, 0, .5), transparent 35%);
    pointer-events: none;
}
.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 0% 58%;
}*/

/* .image:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 80%);
} */


/* .image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    background-color: #000;
    background-image: url(/map.svg);
    background-size: cover;
} */
/* .image[data-astro-cid-3zbxo6iv]:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to right, #000c, #000000e6 20%, #000 30%, #000000f0 38%, #0000 80%);
} */
/* .image img {
    object-fit: cover;
    width: 70%;
    height: 100%;
    object-position: 0% 58%;
} */


.hero {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    background-color: #000;
    background-image: url(/map.svg);
    background-size: cover;
    padding: 0px 16vW;
    padding-top: 200px;
    padding-bottom: 60px;
}
.hero:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to right, #000c, #000000e6 20%, #000 30%, #000000f0 38%, #0000 80%);
    z-index: 1;
}
.hero img {
    object-fit: cover;
    width: 70%;
    height: 100%;
    object-position: 0% 58%;
    position: absolute;
    right: 0;
    top: 0;
}

.content {
    width: 100%;
    padding: 60px 16vW;
}

@media screen and (max-width: 1500px) {
    .hero {
        padding: 0px 7vW;
        padding-top: 200px;
        padding-bottom: 60px;
    }
    .content {
        width: 100%;
        padding: 60px 7vW;
    }
}
@media screen and (max-width:1024px) {
    .hero {
        padding: 0px 3vW;
        padding-top: 150px;
        padding-bottom: 40px;
    }
    .content {
        padding: 40px 3vW;
    }
}
</style>