---
import BaseLayout from './BaseLayout.astro';
import cover from "../assets/nz-1.jpg";
import { Image } from 'astro:assets';
import Header from '@components/Header.astro';

const { page } = Astro.props;
---

<BaseLayout page={page}>
    <main>
        <Header />
        <div class="image">
            <Image src={cover} alt="Roy's Peak" width="1856px" height="857px"/>
            <span></span>
        </div>
        <div class="content">
            <slot />
        </div>
    </main>
</BaseLayout>

<style>
main {
    position: relative;
    width: 100%;
    height: 100vH;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
/*.image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
}
.image:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(125deg, rgba(0, 0, 0, .5), transparent 35%);
    pointer-events: none;
}
.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 0% 58%;
}*/
.image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    background-color: #000;
}
.image:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 80%);
}
.image img {
    object-fit: cover;
    width: 70%;
    height: 100%;
    object-position: 0% 58%;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 60px 0px;
    position: relative;
    background-color: #fff;
    z-index: 1;
}
@media screen and (max-width: 1239px) {
    .content {
        padding: 60px 40px;
    }
}
@media screen and (max-width:1024px) {
    .image {
        height: 250px;
        position: relative;
    }
    .content {
        padding: 40px 32px;
    }
}
@media screen and (max-width: 768px) {
    .image {
        display: none;
    }
    .content {
        padding: 24px 16px;
    }
}
</style>